/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  font-size: 1rem;
  line-height: 28px;
  overflow: hidden;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/* .cover-container {
  max-width: 55em;
} */


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
 
@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
body {
  position: relative;
  overflow: hidden;
  font-family: "Nunito Sans", sans-serif;
}

#overlay {
  position: absolute;
  left: 50%; /* % of surrounding element */
  top: 50%;
  transform: translate(-50%, -50%); /* % of current element */
  background-color: rgba(65, 71, 85, .7);
  z-index: 1;
  min-width: 100%;
  min-height: 100%;

}
#home-background-video {
  position: absolute;
  left: 50%; /* % of surrounding element */
  top: 50%;
  transform: translate(-50%, -50%); /* % of current element */
}

#content-wrapper {
  z-index: 2;
}

#content-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.container {
  max-width: 870px;
}
main h1 {
  color: #fff;
  font-size: 2.6rem;
  font-weight: 700;
}

.lead {
  color: #ddd;
  font-size: 1.2rem;
}

.btn-primary {
  background-color: rgb(79, 195, 247);
  border-color: rgb(79, 195, 247);
}

.btn {
  border-radius: 25px;
   
}

.cover .btn-lg {
  padding: 0.65rem 1.35rem;
}
 

#login-btn {
  margin-left: 15px;
  background: #000;
  background: blue;
  color: #fff;
  padding: 6px 18px;
  position: relative;
  top: -3px;
  font-weight: bold;
  background-color: #f62d51;
  border-color: #f62d51;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
}

.masthead-brand {
  font-size: 1.45rem;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.125rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  position: absolute;
  top: 15px;
  right: 5px;
  display: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media only screen and (max-width:768px) {

  /* .nav-masthead {
    display: none;
  } */
  .navbar-toggler {
    display: block;
  }
  .nav-masthead {
    position: absolute;
    height: 100%;
    background: rgba(47,54,68,0.95);
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%; 
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1;
  }

  .nav-masthead .nav-link {
    display: block; 
    color: #fff;
    width: 100%;
    text-align: center;
    margin-left: 0;
    text-transform: uppercase;
    padding: 5px;
  }
  .nav-masthead .nav-link + .nav-link {
    margin-left: 0;
  }

  .nav-masthead .nav-link:hover, .nav-masthead .nav-link:focus {
    border:none; 
    color: #ccc;
    text-decoration: underline; 
  }

  .nav-masthead .active {
    border:none;
  }

  .nav-masthead a:nth-child(1) {
    margin-top: 30vh;
  }

  .close-nav {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 1rem;
    width: 1rem;
    fill: rgb(255, 255, 255);
    z-index: 20;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1;
  }

  #login-btn {
    display: block;
    width: 95px;
    margin: auto;
    margin-top: 10px;
  }

  .nav-masthead.open {
    opacity: 1;
    z-index: 10;
  }

  .close-nav.open {
    opacity: 1;
    z-index: 11;
  }
}

@media only screen and (max-width: 425px) {

  main h1 {
    font-size: 2rem;
  }

  .lead {
    font-size: 1.15rem;
  }
 
}