@import url('https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css');

.user-name {
    margin-bottom: 0;
}

.user-content {
    margin-left: 10px;
} 
  
table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
}