@import url('https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css');

.user-name {
    margin-bottom: 0;
}

.user-content {
    margin-left: 10px;
} 

#positions-table .dropdown-toggle:empty:after {
    margin-left: 3px;
}
.campaign {
    height: 267px;
}

.equity-card .feed-widget {
    height: 266px;
}

body{
    font-size: 0.90rem;
    font-weight: 700;
}  

.card-body .nav-tabs {
    margin-bottom: 10px;
}

.result { 
    border:solid 2px;
    display: block;
    padding: 3px 12px;
    text-align: center; 
    color: #333;
}
table tr td,
table tr th {
    vertical-align: middle;
} 

.result.badge-success {
    border-color: #36bea6;
}

.result.badge-danger {
    border-color: #f62d51;
}

.badge {
    padding: 3px 12px;
    display: block;
    width: auto;
    max-width: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

.badge.badge-success { 
    background:#36bea6;
}

.badge.badge-danger { 
    background:#f62d51;
}

.card-subtitle {
    margin-bottom: 15px;
}

.trade-overview-widget {
    margin-bottom: 15px;
}

.circle-wrapper {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    display: block;
    margin: auto;
    border:solid 2px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
    border-color: rgb(79, 195, 247);
}

.circle-wrapper span { 
    font-weight: 700;
}

.trade-overview-widget .text {
    opacity: 0.8;
    font-size: 14px;
}

.table.account-performance {
    margin-bottom: 0;
    height: 230px;
}

.table.account-performance tr {
    border-bottom: solid 1px #f4f4f4;
}
.table.account-performance td {
    padding:0.5rem;
    padding-left: 0;
}

.text-right {
    text-align: right;
} 

.summary-widget h5 {
    font-size: 0.9rem;
    opacity: 0.8;
}

.summary-widget h2 {
    font-size: 1.25rem;
}

.summary-widget hr {
    margin: 10px 0;
}

.summary-widget span {
    font-size: 0.80rem;
    opacity: 0.7;
    font-weight: normal;
}

@media (min-width: 768px) {
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

.dropdown-menu-right {
    right: 0!important;
    left: unset;
}

.nav-link {
    padding: 0px 15px;
    fsize: 0.875rem;
    line-height: 64px;
    height: 64px;
}

.logo-text {
    font-weight: 600;
}

.auto-width-wrapper input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3e5569;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e9ecef;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}