@import url('https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css');

.user-name {
    margin-bottom: 0;
}

.user-content {
    margin-left: 10px;
} 

table {
    table-layout: auto!important;
}
  
td, th {
    width: auto!important;
    max-width:100%;
    white-space:nowrap;
    
}

th input,
td input {
    min-width: 0;
    width:auto;
    display: inline;
}